<launch>
  
  <include file="$(find teleop_twist_joy)/launch/teleop.launch">
	<arg name="joy_config" value="xbox" />
	<arg name="joy_dev" value="/dev/input/js0" />
	<arg name="config_filepath" default="$(find hoverboard_driver)/config/xbox.config.yaml" />
  </include>

  <node pkg="topic_tools" type="relay" name="teleop_cmd_vel_relay" args="/cmd_vel /hoverboard_velocity_controller/cmd_vel" />

  <!-- ROS control -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />
  
</launch>


